<div class="container" id="showuserpost">
	<div class="row">
		<% @posts.each do |post| %>	
		<% movie = OMDB.id(url_edit(post.imdb_url)) %>
			<div class="col-xs-3" >
				<div class="interior">
					<%= link_to post do %>
						<div class="text-center">
							<%= image_tag movie.poster, height: '365px', width:"96%", class:"image" %>
						</div>
						
						<div class="text-center" id="buttons">
							<%= link_to (fa_icon "pencil"),edit_post_path(post) , class:"edit" %>
							<%= link_to (fa_icon "trash-o"), post, :method => :delete, class:"delete", data: {confirm: "¿Estas Seguro que Deseas Eliminar el Post?"} %>
						</div>									
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>

