
body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#828282+1,e8e8e8+100 */
	background: #DBDBDB;
}

#formulario{
	.imdb-link{
		text-decoration: none;
		color: #C4AD14;
		font-size: 35px;
		.fa-imdb{
			padding:2px 3px 1px;
			border-radius: 5px;
			background-color:black;
		}
	}

	#boton{
		margin-bottom: 30px;
	}
}

#top{
	
	margin-top: 20px;
	color: white;
	background-color: #3D3D3D;
	border-radius: 7px;
	h3{
		margin-top: 15px;
	}
	.top3{

		font-size: 15px;
		height: 75px;
		border-radius: 5px;
		background-color: #e3c31e;
		margin: 10px 0 ;
		p {
			margin-bottom: 0;
		}
		#top3-poster{
			padding:0 ;

		}
		#top3-body{
			margin-top: 5px;
			padding:5px 0 0 5px;			
			color:black;
	
			.star{

				color: #EBE716;
			}
		}
	}
}

.back{
	position: fixed;
	left:60px;
	.ar-back{
		font-size:45px;
		text-decoration: none;
		color:#3D3D3D;
	}
}
#search-part{
	margin-top: 20px;
	margin-bottom: 7px;
	padding-right: 0px;
	.order{
		text-decoration: none;
		border-radius: 3px;
		font-size: 15px;
		background-color:#3D3D3D; 
		color: white;
		height: 30px;
		width: 100%;
	}
}


#post{
	color: white;
	margin-bottom:15px ;
	background-color: #3D3D3D;
	padding: 0;
	height: 225px;
	border-radius: 5px;
	font-size: 16px;
	#imagen{
		padding:1px ;
		border-radius: 7px;
	}
	#body {
		height: 100%;
		#footer {
			color: whitesmoke;
			font-size: 14px;
			position: absolute;
			margin-bottom: 0;
			bottom: 5px;
		}
		.title {
			text-decoration: none;
			color: white;	
			&:hover { color:white; }
		}
	}
	#rat-but{
		height: 100%;
		.star {
			color: #e3c31e;
		}
		.userButton {
			font-size: 25px;
			padding-bottom: 0px;
			position: absolute;
			bottom: 5px ;
			right: 15px;
			.edit {
				color: white;	
				&:hover { color:#E97510 ; }
			}
			.delete {
				color: white;
				&:hover { color:#D20606 ; }
			}
		}
	}
	
}

#showpart{
	margin: 20px;
	color: white;
	height: 500px;
	hr{
		border-color: #D2B10C;
	}

	#edit-delete{
		border-radius: 5px;
		background-color:#3D3D3D;
		padding: 17px 0;
		margin-bottom: 20px;
		.btn{
			margin: 0 5px;
			width: 100px;
		}
		
	}

	#stars{
		font-size: 21px;
		.star{
			color: #C4AD14;
		}
		.no-star{
			color: grey;
		}
	}

	#video{
		padding-bottom: 20px;
	}
	#show{
		background-color: #3D3D3D;
		border-radius: 10px 0 10px 10px;
		font-size: 17px;
		margin-bottom: 30px;
		#poster{
			padding: 15px;
		}
	}
	#comments{
		padding: 20px;
		border-radius: 0 10px 10px 0;
		background-color: #e3c31e;
		.btn{
			background-color:  #3D3D3D;
		}
		#body-comments{
			border-radius: 5px;
			margin-bottom: 10px;
			padding: 10px;
			background-color: #3D3D3D;
			.body{
				font-size: 13px;
				color: whitesmoke;
				padding-bottom: 20px;
				word-wrap: break-word;

			}
			.name{
				color: grey;
				font-size: 12px;
				padding-top: 7px;
				position: absolute;
				bottom: -5px;
			}
			.delete{
				font-size: 15px;
				color: white;
				position: absolute;
				bottom: 3px;
				right: 7px;
			}
		}
	}
}

#showuserpost{
	
	margin-top: 20px;
	#interior{
		

		padding: 10px 0 ;
		margin-bottom: 15px;
		background-color:#3D3D3D;
		border-radius: 7px;

		h3{
			margin-top: 10px;
			text-decoration: none;
			color: white;	
			&:hover { color:white; }
		}
		h4{
			margin-top: 16px;
			text-decoration: none;
			color: white;	
			&:hover { color:white; }
		}
		#buttons{
			font-size: 25px;
			margin-top: 5px;
			.edit {
				color: white;	
				&:hover { color:#E97510 ; }
			}
			.delete {
				color: white;
				&:hover { color:#D20606 ; }
			}
		}
	}
}