

body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#828282+1,e8e8e8+100 */
	background: #DBDBDB;
}

#formulario{
	#boton{
		margin-bottom: 30px;
	}
}

#post{
	color: white;
	margin-bottom:15px ;
	background-color: #3D3D3D;
	padding: 0;
	height: 225px;
	border-radius: 5px;
	font-size: 16px;
	#imagen{
		padding:1px ;
		border-radius: 7px;
	}
	#body {
		height: 100%;
		#footer {
			color: whitesmoke;
			font-size: 14px;
			position: absolute;
			margin-bottom: 0;
			bottom: 5px;
		}
		.title {
			text-decoration: none;
			color: white;	
			&:hover { color:white; }
		}
	}
	#rat-but{
		height: 100%;
		.star {
			color: #e3c31e;
		}
		.userButton {
			font-size: 25px;
			padding-bottom: 0px;
			position: absolute;
			bottom: 5px ;
			right: 15px;
			.edit {
				color: white;	
				&:hover { color:#E97510 ; }
			}
			.delete {
				color: white;
				&:hover { color:#D20606 ; }
			}
		}
	}
	
}

#showpart{
	margin: 30px;
	color: white;
	height: 500px;
	hr{
		border-color: #D2B10C;
	}
	#video{
		padding-bottom: 20px;
	}
	#show{
		background-color: #3D3D3D;
		border-radius: 10px 0 10px 10px;
		font-size: 17px;
		margin-bottom: 30px;
		#poster{
			padding: 15px;
		}
	}
	#comments{
		border-radius: 0 10px 10px 0;
		background-color: #e3c31e;
		height: 500px;
	}
}
