#showuserpost{
	margin-top: 20px;
	.interior{
		height: 425px;
		padding: 10px 0 ;
		margin-bottom: 15px;
		background-color:#3D3D3D;
		border-radius: 7px;
		#buttons{
			font-size: 25px;
			margin-top: 5px;
			.edit {
				color: white;	
				&:hover { color:#E97510 ; }
			}
			.delete {
				color: white;
				&:hover { color:#D20606 ; }
			}
		}
	}
}